# [submodule "src/ros2-ublox-zedf9p"]
# 	path = src/ros2-ublox-zedf9p
# 	url = https://github.com/gokulp01/ros2-ublox-zedf9p.git
[submodule "src/RTK_GPS_NTRIP"]
	path = src/RTK_GPS_NTRIP
	url = https://github.com/olvdhrm/RTK_GPS_NTRIP.git
[submodule "src/SMACC2"]
	path = src/SMACC2
	url = https://github.com/robosoft-ai/SMACC2
